.container{
    margin: 0;
    width: 100%;
    height: calc(100vh - 66px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.formContainer{
   width: inherit;
    display: grid;
    place-items: center;
}