.container{
    margin: 0;
    width: 100%;
    height: calc(100vh - 66px);
    display: grid;
    place-items: center;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
}

.formContainer{
    width: 500px;
    height: auto;
    background: radial-gradient(circle at 10% 20%, rgb(236, 158, 248) 0%, rgb(131, 83, 241) 90.1%);
    padding: 1rem;
}