.componentCard{
    display: flex;
    padding: 0 2rem;
    height: 30rem;
    background-color: hsl(0,0, 7);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.border{
    width: .7rem;
    height: 100%;
    background-color: hsl(0,0, 10);
}
