.formContainer{
    width: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: monospace;
}

.nameLabel{
    position: absolute;
    top: -22px;
    left: 6px;
    font-size: 16px;
}
.emailLabel{
    position: absolute;
    left: 270px;
    top: -22px;
    font-size: 16px;
}
.inputContainer{
    display: flex;
    gap: 1rem;
    // justify-content: space-between;
}
.formInput{
    border: 1px solid #52057B;
    background:none;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    width: 220px;
    padding: .5rem;
}
.text{
    border: 1px solid #52057B;
    background: #18122B;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: .5rem;
    margin-bottom: 1rem;
    color: #D8D9DA;
    resize: none;
}
.btnSubmit{
    border: none;
    padding: .5rem 0;
    text-align: center;
    text-transform:uppercase;
    font-size: 1rem;
    background-color: #892CDC;
    width: 100%;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    color: #D8D9DA;
}