.titleContainer{
    display: flex;
    gap: 2rem;
    align-items: center;
    align-self: flex-start;
    padding: .5rem 0;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: capitalize;
    color: azure;

}