.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 66px);
}

.head{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 3rem;
}

.footer{
    position: fixed;
    bottom: 2rem;
    left: auto;
    font-size: medium;
    font-weight: 600;
    color: white;
}
