
.mainContainer{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-height: calc(100vh - 66px);
    position: relative;
}
.upperContainer{
    width: 100%;
    height: 65dvh;
    // background-color: #0b0b0d;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.contactDiv{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactHeading{
    font-family: monospace;
    text-align: center;
    font-size: 1.1rem;
    padding: 0;
    margin: 0;
}
.heading{
    font-size: 2rem;
    font-weight: bold;
    margin: 0%;
}
.lowerContainer{
    width: 100%;
    height: 26dvh;
    background-color: #892CDC;
}

.detailsContainer{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    width: 80%;
    transform: translate(-50%, 0);
    height: 15rem;
    background-color: #eeeeee;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
}
