.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    min-width: 270px;
    background-color: hsl(0, 0, 8);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    cursor: pointer;
}